In [3]:
import pandas as pd

from sklearn import datasets

In [11]:
df = pd.DataFrame(datasets.load_iris().data)
df.columns = datasets.load_iris().feature_names

In [15]:
df['Diff'] = df['petal length (cm)'] - df['petal length (cm)'].shift(1)

In [16]:
df['Diff']

0      NaN
1      0.0
2     -0.1
3      0.2
4     -0.1
      ...
145   -0.5
146   -0.2
147    0.2
148    0.2
149   -0.3
Name: Diff, Length: 150, dtype: float64

In [23]:
df.columns

Index(['sepal length (cm)', 'sepal width (cm)', 'petal length (cm)',
       'petal width (cm)', 'Diff'],
      dtype='object')

In [25]:
pd.DataFrame(df[df['Diff'] > 0]['sepal width (cm)'])

     sepal width (cm)
3                 3.1
5                 3.9
7                 3.4
9                 3.1
11                3.4
..                ...
139               3.1
140               3.1
143               3.2
147               3.0
148               3.4

[74 rows x 1 columns]

---

In [ ]:
import pandas as pd

def rising_temperature(weather: pd.DataFrame) -> pd.DataFrame:
    weather['recordDate'] = pd.to_datetime(weather['recordDate'])
    weather_sorted = weather.sort_values(by='recordDate')
    weather_sorted['TempDiff'] = weather_sorted['temperature'] - weather_sorted['temperature'].shift(1)
    weather_sorted['DateDiff'] = weather_sorted['recordDate'].diff().dt.days

    result = weather_sorted[(weather_sorted['TempDiff'] > 0) & (weather_sorted['DateDiff'] == 1)]
    return pd.DataFrame(result['id'])